<ion-grid>

    <ion-row>
        <ion-col>
            <button nbButton fullWidth hero status="danger" (click)="deleteMyAccount()">Apagar conta</button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button nbButton fullWidth hero status="primary" (click)="lougout()">logout</button>
        </ion-col>
    </ion-row>

    <!--ion-row>
        <ion-col>
            <button nbButton fullWidth hero status="primary" (click)="inject()">Inject</button>
        </ion-col>
    </ion-row-->
</ion-grid>